header{
    background-color: #363636;
    width: auto;
    height: 19vh;
    h1{
        color: white;
        display: flex;
        margin: 0 ;
        height: 19vh;
        justify-content: center;
        align-items: center;

    }
    nav{
        display: block;
    }
}